<p style="color: green"><%= notice %></p>

<!--<%= render @blog %>-->
<p>
    <strong>Title:</strong>
    <%= @blog.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @blog.body %>
  </p>

<div>
  <%= link_to "Edit", edit_blog_path(@blog) %> |
  <%= link_to "Back", blogs_path %>

  <!--<%= button_to "Destroy this blog", @blog, method: :delete %>-->
</div>
