<%= image_tag @portfolio_item.main_image  %>
<h1><%= @portfolio_item.title%></h1>
<<<<<<< HEAD
<p><%= @portfolio_item.body%></p>

<%= @portfolio_item = Portfolio.find(params[:id]).title %>


<h2> Technologies Used: </h2>


<%# <% @portfolio_item.technologies.each do |technologies| %>
<%# <p><%= technologies.name %>

<%# <% end %>

=======
<em><%= @portfolio_item.subtitle %></em>
<p><%= @portfolio_item.body %></p>


<%= params.inspect %>
<p> id:  <%= params[:id] %> </p>

<hr>
>>>>>>> 2d224dbfd481fb3e282cc0e5d41131657b06a1e3

